@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --blue__button___color: #0073e6;
    --titles__color: #666;
}

body {
    width: 100%;
    background-color: #eee;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.cabecera {
    width: 100%;
    background-color: #fff;
}

.cabecera__barra {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;

}


.cabecera__busqueda {
    width: 35%;
    display: flex;
    align-items: center;
    
}


.cabecera__busqueda___imagen {
    flex-shrink: 1;
}



.cabecera__busqueda___filtrado {
    height: 2rem;
    margin-left: 15px;
    flex-grow: 1;

    background-color: #eee;
    
    resize: none;
    outline: none;
    border: none;
    border-radius: 25px;

}

.cabecera__barra___login{
    width: 10%;
    padding: 0.4rem 0;
    
    border: 1px solid var(--blue__button___color);
    background-color: inherit;
    color: var(--blue__button___color);

    text-decoration: none;
    text-align: center;
    

}

.cabecera__barra___login:hover, .cabecera__barra___login:active {
    transform: scale(1.1);

}


.cabecera__banner {
    position: relative;
}

.banner__texto {
    height: auto;
    position: absolute;
    color: white;
    bottom: 12%;
    left: 11%;
}


.banner__texto___contenido:first-child {
    font-size: 2.7rem; 
    font-weight: 600;
    margin-bottom: 5%; 
}

.banner__texto___contenido:nth-child(2) {
    font-size: 1.1rem;
    margin-bottom: 4%;
    font-weight: 600;
}

.banner__texto___contenido:last-child {
    
    padding: 0.6rem;
    text-decoration: none;
    color: inherit;
    background-color: var(--blue__button___color);
}


.banner__imagen {
    width: 100%;

}



@media screen and (max-width: 992px) {

    .banner__texto {
        height: auto;
        position: absolute;
        color: white;
        bottom: 12%;
        left: 11%;
    }

    .banner__texto___contenido:first-child {
        font-size: 2rem; 
        font-weight: 600;
        margin-bottom: 3%; 
    }
    
    .banner__texto___contenido:nth-child(2) {
        font-size: 0.8rem;
        margin-bottom: 3%;
        font-weight: 600;
    }
    
    .banner__texto___contenido:last-child {
        
        padding: 0.4rem;
        text-decoration: none;
        color: inherit;
        background-color: var(--blue__button___color);
    }


}



@media screen and (max-width: 768px) {
    .cabecera__barra {
        justify-content: space-evenly;
    }

    .cabecera__busqueda___filtrado {
        display: none;
    }


    .banner__texto {
        height: auto;
        position: absolute;
        color: white;
        bottom: 8%;
        left: 4%;
    }

    .banner__texto___contenido:first-child {
        font-size: 1.5rem; 
        font-weight: 600;
        margin-bottom: 3%; 
    }
    
    .banner__texto___contenido:nth-child(2) {
        font-size: 0.6rem;
        margin-bottom: 3%;
        font-weight: 600;
    }
    
    .banner__texto___contenido:last-child {
        
        padding: 2px;
        text-decoration: none;
        color: inherit;
        background-color: var(--blue__button___color);
    }

}